@media only screen and (min-width: 64rem) {
    body {
        min-width: 1024px;
    }
      
    /* #carousel-container {
        max-width: 1023px;
        margin: 0 auto;
        margin-bottom: 50px;
    } */
    
    .carousel {
        position: relative;
        height: 600px;
        width: 800px;
        margin: 0 auto;
    }
    
}