:root {
    /* change the values below to your colors from your palette */
    --primary-color: #0B4665; /* Indigo dye */
    --secondary-color: #ec9a17; /* Gamboge */
    --accent1-color: #9ab05e; /* Olivine */
    --accent2-color: #669BBC; /* Air Superiority Blue */
    --accent3-color: #780000; /* Barn Red */
    
    --paragraph-font: 'Nanum Gothic', Sans-Serif, Helvetica;
    --heading-font: 'Noto Serif Display', Sans-Serif, Helvetica;
    --special-font: 'Great Vibes', cursive;
  }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  /*----------- apply a natural box layout model to all elements --------------*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
/* ---------------------- Home Page ---------------------- */
html {
  background-color: rgb(14, 27, 46);
}

h1,
p {
  margin: 0 2vw;
}

body {
  min-width: 300px;
  margin: auto;
}

header,
footer {
  background-color: var(--accent2-color);
  margin: 20px;
  padding: 1rem;
}

#logo-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  min-width: 75px;
  height: 75%;
  width: 75%;
  border: 5px solid black;
  box-shadow: 4px 4px 6px black;
  margin: 5px;
}

.title-name {
  text-align: left;
  color: white;
  margin-right: 10px;
  text-shadow: 4px 4px 6px black;
}

header h1 {
  font-family: var(--special-font);
  font-size: 6vw;
  font-weight: 300;
  margin-left: -4px;
}

header h2 {
  font-family: var(--paragraph-font);
  font-size: 2.5vw;
  font-weight: 100;
  color: black;
  margin-top: -7px;
}

.facebook img {
  background-color: white;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 4px 4px 6px black;
  width: 45px;
}

.linkedin img {
  background-color: white;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 4px 4px 6px black;
  width: 45px;
}

nav button {
  margin: 0.2rem 3vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  margin-left: 45px;
}

nav ul {
  display: flex;
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #0B4665;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: block;
  padding: 0.8rem;
  text-decoration: none;
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
}

nav ul li .active {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
  z-index: 9999;
  /* position: absolute; */
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
  
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/* -----------------Slide Show-------------- */

#carousel-container {
  max-width: 512px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.carousel {
  position: relative;
  height: 225px;
  width: 300px;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
}

.carousel__track-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  background-color: black;
  border: 0;
  cursor: pointer;
}

.carousel__button:hover {
  background-color: var(--primary-color);
}

.carousel__button--left {
  left: 25px;
  z-index: 999;
}

.carousel__button--right {
  right: -28px;
}

.carousel__button img {
  width: 40px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius:  50%;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, .3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(255, 255, 255, .8);
}

.is-hidden { 
  display: none;
}

.text {
  color: #f2f2f2;
  font-family: var(--special-font);
  font-size: 26px;
  padding: 12px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: black;
}

/* ------------------Home Page, continued */
#main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.75fr 0.75fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  margin-right: 30px;
  margin-left: 30px;
  
}

#reservations, #templeis-info, .weather, #spotlight {
  text-align: center;
  background-color: white;
}

#reservations, #templeis-info, .weather, #spotlight h1, h2, h3, h4 {
  font-family: var(--heading-font);
}

#reservations, #templeis-info, .weather, #spotlight p {
  font-family: var(--paragraph-font);
}

#reservations {
  grid-area: 1 / 1 / 2 / 4;
  background-color: white;
  padding: 1em;
}

#reservations p {
  font-family: var(--paragraph-font);
  font-style: italic;
  margin-bottom: 8px;
}

#reservations button {
  font-family: var(--paragraph-font);
  font-size: 16pt;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 9px;
  padding: 1em;
  margin-top: 20px;
  text-shadow: 4px 4px 6px black;
  box-shadow: 4px 4px 6px darkgray;
}

#reservations button:hover {
  background-color: #9ab05e;
  cursor: pointer;
}

#templeis-info {
  grid-area: 3 / 2 / 4 / 4;
  background-color: white;
  padding: 1em;
  border: 10px solid var(--accent1-color);
}

#templeis-info button {
  font-family: var(--heading-font);
  font-size: 12pt;
  font-weight: bold;
  background-color: var(--accent3-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1em;
  margin-top: 30px;
  margin-bottom: 20px;
  text-shadow: 4px 4px 6px black;
  box-shadow: 4px 4px 6px darkgray;
}

#templeis-info button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

#templeis-info a {
  color: blue;
}

#templeis-info a:hover {
  color: var(--accent3-color);
}

.weather {
  grid-area: 3 / 1 / 4 / 2;
  border: 15px solid var(--accent3-color);
}

.weather img {
  width: 100%;
}

#spotlight {
  grid-area: 2 / 1 / 3 / 4;
  padding: 1em;
}

#spotlight img {
  width: 80%;
}

#forecast {
  font-family: var(--paragraph-font);
  background-color: white;
  text-align: center;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  border: 5px solid var(--secondary-color);
}

#forecast h5 {
  font-size: 18pt;
}

.three-forecast {
  display: grid;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 15px;
}

.three-forecast section {
  display: flex;
  border: 4px solid #9ab05e;
  border-radius: 12px;
  margin: 4px;
  align-items: center;
  padding: .5em;
}
/* -----------------------Temples Page------------------------- */
#temples {
  background-color: white;
  color: white;
  width: auto;
  font-family: var(--paragraph-font);
  margin-right: 35px;
  margin-left: 35px;
  max-width: 1200px;
  min-width: 375px;
  padding-top: 1em;
}

#temples img {
  width: 100%;
}

#temples-title {
  color: black;
  text-align: center;
  font-family: var(--heading-font);
  font-style: italic;
  font-size: 16pt;
  margin-bottom: 10px;
}

.temple-cards section h2 {
  font-style: italic;
}

#favButton {
  font-weight: bolder;
  font-size: 16pt;
  font-style: italic;
  padding: 5px;
  margin-top: 10px;
  background-color: white;
  border: 3px solid var(--accent1-color);
  border-radius: 8px;
  cursor: pointer;
}
#favButton:hover {
  background-color: #669BBC;
  border: 3px solid var(--secondary-color)
}

#view {
  text-align: center;
}

#view button {
  text-align: center;
  background-color: rgba(102, 155, 188, 0.15);
  cursor: pointer;
  border: 5px solid var(--primary-color);
  border-radius: 5px;
  margin: 10px;
}

svg {
  width: 50px;
  height: 50px;
  color: #3c6e71;
  margin: .5em;
  align-items: center;
}

#view button:hover {
  border: 8px solid var(--accent3-color);
}

#view button:focus {
  border: 8px solid var(--accent3-color);
}

.temple-cards p {
  margin-bottom: 10px;
}

.temple-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 2em;
}

.temple-cards section {
  background-color: #284b63;
  color: white;
  border: 5px solid black;
  box-shadow: 4px 4px 6px gray;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.temple-list {
  display: grid;
}

.temple-list table {
  padding: 10px;
}

table:nth-child(odd) {
  background-color: #284b63;
  color: white;
}

table:nth-child(even) {
  background-color: #d9d9d9;
}

/* ---------------------------Reservations Page------------------------- */

#reserve-main {
  justify-content: center;
  display: grid;
  background-color: white;
  margin-right: 30px;
  margin-left: 30px;
  padding: 1rem;
}

form fieldset {
  border: 3px solid var(--accent1-color);
  border-radius: 5px;
  padding: 0.5rem 2%;
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 16pt;
  max-width: 350px;
}

form legend {
  color: white;
  margin: 0 0.5rem;
  padding: 0.5rem;
  background-color: var(--accent3-color);
  border-radius: 6px;
  box-shadow: grey 4px 4px 6px;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: var(--accent3-color);
  font-size: 0.9rem;
  font-weight: bold;
}

label {
  font-family: var(--paragraph-font);
}

form label.top input,
form label.top select,
form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(102, 155, 155, 0.15);
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  cursor: pointer;
  font-size: 12pt;
}

form label span {
  padding: 0 0.5rem;
  border-radius: 8px;
  color: var(--primary-color);
}

form input.submitBtn {
  border: none;
  background-color: var(--accent3-color);
  color: white;
  border-radius: 1rem;
  padding: 0.75rem;
  margin: 1em;
  width: 96%;
  max-width: 20rem;
  font-family: var(--heading-font);
  font-size: 15pt;
  font-weight: bold;
}

form input.submitBtn:hover {
  background-color: var(--secondary-color);
  color: black;
  cursor: pointer;
}

form label.top input:required {
  border-left: var(--secondary-color) solid 8px;
}

/* ----------------------------Services Page---------------------------- */
#services-main {
  margin-right: 35px;
  margin-left: 35px;
  background-color: white;
  padding: 2em;
  min-width: 300px;
  text-align: center;
  font-size: 18pt;
}

#services, #subpages {
  font-family: var(--paragraph-font);
}

#services p {
  font-style: italic;
}
#services a {
  color: blue;
  font-weight: bold;
  text-decoration-line: underline;
}
#services a:hover {
  color: #ec9a17;
}

#services ul li {
  list-style: none;;
}

#missionaries, #receptions {
  background-color: #9ab05e;
  padding: 1em;
  margin: 15px;
  text-align: center;
}

#subpages h4 {
  /* background-color: #f2f2f2; */
  font-family: var(--special-font);
  font-size: 18pt;
  font-weight: 400;
  padding: .5em;
  margin-top: -10px;
}

#subpages p {
  margin-top: -35px;
  margin-bottom: 15px;
}

#subpages button {
  font-size: 15pt;
  padding: .5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#subpages button:hover {
  color: #fff;
  background-color: #780000;
}

/* -------------------Contact Us Page --------------------- */
.contact-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  margin-left: 35px;
  margin-right: 35px;
}

.help-grid {
  padding:  15px;
  border: 3px solid var(--accent1-color);
}

.help-headline {
  text-align: center;
  font-size: 20pt;
  color: white;
  margin: 0 0.5rem;
  padding: 0.5rem;
  background-color: var(--accent3-color);
  border-radius: 6px;
  box-shadow: grey 4px 4px 6px;
}

.help-paragraph {
  text-align: center;
  font-family: var(--paragraph-font);
  font-size: 14pt;
  margin: 1em;
}

.help-image {
  text-align: center;
}

.help-image img {
  border: solid 5px var(--primary-color);
  width: 75%;
}

.name-form {
  padding: .5em;
  background-color: rgba(102, 155, 188, 0.4); 
  color: var(--accent3-color);
  font-weight: bold;
  border: 3px solid #669BBC;
}

#contact-name,
#contact-email,
#contact-question {
  border: none;
  border-radius: 6px;
  font-family: var(--paragraph-font);
  padding: 8px;
  width: 100%;
  border-left: solid 8px var(--secondary-color);
  margin-bottom: 15px;
}

.cont-sbmt {
  font-size: 14pt;
}

textarea {
  height: 200px;
  width: 100%;
}

#contact-submit button{
  display: flex;
  float: right;
  padding: 6px 18px;
  font-family: var(--heading-font);
  font-size: 14pt;
  color: white;
  background-color: var(--accent3-color);
  border: none;
  border-radius: 8px;
  margin-top: -15px;
  margin-right: 15px;
}

#contact-submit button:hover {
  font-weight: bold;
  color: black;
  background-color: var(--secondary-color);
}

/* -----------------Footer----------------- */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#small-logo img {
  min-width: 75px;
  padding: 5px;
  margin: 5px;
}

.footer-name {
  color: white;
  font-family: var(--heading-font);
  font-size: 2.8vw;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: center;
  text-shadow: 4px 4px 6px black;
}

.footer-address {
  color: white;
  font-family: var(--paragraph-font);
  font-size: 1.8vw;
  font-weight: bold;
  text-align: center;
  text-shadow: 4px 4px 6px black;
}

#footer-extras {
  display: grid;
  grid-template-columns: 1fr 1fr .35fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 8px;
  background-color: rgba(11, 70, 101, 0.4);
  color: white;
  font-family: var(--paragraph-font);
  font-size: 1.6vw;
  padding: 1em;
  text-shadow: 4px 4px 6px black;
}

#footer-extras a {
  text-decoration: none;
  color: var(--secondary-color);
}

#footer-extras a:hover {
  color: white;
  background-color: var(--accent1-color);
  padding: 4px;
}

.location {
  grid-area: 1 / 1 / 2 / 2;
}

#lastModified {
  grid-area: 1 / 2 / 2 / 4;
}

.api-credit {
  grid-area: 2 / 1 / 3 / 2; 
}

#currentyear {
  grid-area: 2 / 2 / 3 / 4;
}